<skeleton-form :busy="busy" v-model="value" @submit="onSubmit" :required="['currentPassword', 'newPassword', 'newPassword2']" :messages="messages">
  <template #header>
    <h3 v-if="!hideTitle">{{tt("skeleton-key.change-password.title", "Change Password")}}</h3>
  </template>
  <template #default="{ value }">
    <skeleton-input type="password" :messages="errors.currentPassword" :label="tt('skeleton-key.change-password.currentPassword', 'Current Password')" v-model="value.currentPassword" />
    <skeleton-input type="password" :messages="errors.newPassword" :label="tt('skeleton-key.change-password.newPassword', 'New Password')" v-model="value.newPassword" />
    <skeleton-input type="password" :messages="errors.newPassword2" :label="tt('skeleton-key.change-password.newPassword2', ' Repeat Password')" v-model="value.newPassword2" />
  </template>
  <template #footer="{ invalid }">
    <skeleton-button :text="tt('skeleton-key.change-password.submit', 'Change')" primary submit :disabled="invalid" />
  </template>
</skeleton-form>
