<skeleton-form
  :busy="busy"
  v-model="value"
  :errors="errors"
  :required="['username', 'email', 'password', 'password2']"
  @submit="onSubmit"
>
  <template #header>
    <h3>Register</h3>
  </template>
  <template #default="{ errors, value }">
    <skeleton-input v-model="value.username" :messages="errors.username" label="Username" />
    <skeleton-input v-model="value.email" :messages="errors.email" type="email" label="Email" />
    <skeleton-input v-model="value.password" :messages="errors.password" type="password" label="Password" />
    <skeleton-input v-model="value.password2" :messages="errors.password2" type="password" label="Repeat Password" />
    <skeleton-input v-model="value.firstName" :messages="errors.firstName" label="First Name" />
    <skeleton-input v-model="value.lastName" :messages="errors.lastName" label="Last Name" />
  </template>
  <template #footer="{ invalid }">
    <skeleton-button text="Register" primary submit :disabled="invalid" />
  </template>
</skeleton-form>
