<form :class="classes" @submit.prevent="$emit('submit', $event)" v-bind="$attrs">
  <div class="skeleton-form__header">
    <slot
      name="header"
      :errors="errors"
      :error-array="errorArray"
      :error-count="errorCount"
      :valid="valid"
      :invalid="invalid"
      :value="localValue"
      v-if="localValue"
    />
  </div>
  <div class="skeleton-form__errors">
    <slot
      name="error"
      :errors="errors"
      :error-array="errorArray"
      :error-count="errorCount"
      :messages="messages"
      v-if="invalid || hasMessages"
    >
      <skeleton-message
        v-for="(message, index) in messages"
        :key="index"
        :text="message"
      />
    </slot>
  </div>
  <div class="skeleton-form__body">
    <slot
      :errors="errors"
      :error-array="errorArray"
      :error-count="errorCount"
      :valid="valid"
      :invalid="invalid"
      :value="localValue"
      v-if="localValue"
    />
  </div>
  <div class="skeleton-form__footer">
    <slot
      name="footer"
      :errors="errors"
      :error-array="errorArray"
      :error-count="errorCount"
      :valid="valid"
      :invalid="invalid"
      :value="localValue"
      v-if="localValue"
    />
  </div>
</form>
